<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <nav class="fixed-top">
    <app-navbar></app-navbar>
  </nav>
  </section>
<div class="jumbotron">
  <h1 class="display-4">ATTARACT MORE AUDIENCE AND GET REFERRAL MONEY IN YOUR POCKET</h1>
  <p class="lead">Do you know anybody who may benefit from intelliminds.</p>
  <hr class="my-4">
  <p>Invite 5 friends to sign up with this unique link.</p>
  <div class="socialmediaicons">
  <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="javascript:void(0)" class="fa fa-linkedin"></a>
<a href="javascript:void(0)" class="fa fa-instagram"></a></div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">TOP ACTIVE CAMPAIGNS.LIKE SHARE AND SUBSCRIBE AND EARN MONEY ON REFERRING TO YOUR FRIENDS</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">CORONA FUND RAISING </a></li>
    <li class="breadcrumb-item"><a href="#">LIKE</a></li>
    <li class="breadcrumb-item active" aria-current="page">SHARE</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">TRUMP'S VOTING CAMPAIGN</a></li>
    <li class="breadcrumb-item"><a href="#">LIKE</a></li>
    <li class="breadcrumb-item active" aria-current="page">SHARE</li>
  </ol>
</nav>

