<!-- CSS only -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

<!-- JS, Popper.js, and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

  
    <nav class="fixed-top">
        <app-navbar></app-navbar>
      </nav>

      <div class="nami">
          <br/>
          <br/>
          <br/>
          <br/>
      <p>Thankyou for registration.</p>
      <p>You are currently in the waiting list. {{x}} People have registered ahead of you.</p>
      <p>We have sent you an e-mail confirmation for your registration.</p>
      <p>Proceed here to sign-up and get the latest updates for your events</p>
    </div>
    <br/>
          <br/>
<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Gender">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Date-Of-Birth(yyyy-mm-dd)">
      </div>
    </div>
  </form>

  <br/>
  <br/>
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Email-Id">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Occupation">
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Interest">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Current-City">
      </div>
    </div>
  </form>
  <br/>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
      Submit
    </button>
    <br/>
    <div class="nami">
      <h3>Get Involved</h3>
      <h3>Get your free oppourtunity  to do something that will impact the community.
          Help community make a difference.</h3>
        <h3> There are many ways to volunteer, from walking door to door to hosting fundraising events.
Let us know how you can help.</h3>     
</div>    

    